
    <H1 class="  text-decoration-underline m row justify-content-center">Accueil</H1>
      
    <section class="d-flex flex-row justify-content-center ">
     <div class="card ">
        <img src="/public/images/entrées.jpg" alt="entrées">
        <div class="card-body row justify-content-center">
            <h5 class="card-title row justify-content-center">Entrées</h5>
            <p class="card-text row justify-content-center">Venez découvrir nos entrées</p>
            <a href="/entrees" class="btn btn-primary">Entrées</a>
        </div>
    </div>

     <div class="card" id="cardCentre">
            <img src="/public/images/plats.jpg" alt="plats">
            <div class="card-body row justify-content-center">
                <h5 class="card-title row justify-content-center">Plats</h5>
                <p class="card-text row justify-content-center">Venez découvrir nos plats</p>
                <a href="/plats" class="btn btn-primary">Plats</a>
            </div>
    </div>

     <div class="card ">
  <img src="/public/images/desserts.jpg" alt="desserts">
  <div class="card-body row justify-content-center">
    <h5 class="card-title row justify-content-center">desserts</h5>
    <p class="card-text row justify-content-center">venez découvrir nos desserts</p>
    <a href="/desserts" class="btn btn-primary">desserts</a>
  </div>
</div>
</section>


