@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



*{
    margin: 0;
    padding: 0;
}

body{
 
    background: url(/projet_2/img/chifoumi.jpg) no-repeat center  ;
    background-size: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
}

h1{
   margin: 20px auto;
    font-family: pacifico;
    font-size: 10rem;
    color: aqua;
    -webkit-text-stroke: 1px red;


}

h2{

    font-family: courgette ;
    font-size: 3rem;
    line-height: 6rem;
    color: aqua;
    -webkit-text-stroke: 1px rgb(123, 241, 133);

}

.btn{

    display: flex;
    flex-direction: row;
    width: 120px;
    height: 75px;
    border-radius: 10px;
    margin: 50px 15px;
    color: rgb(241, 11, 11);
    text-decoration: double;
    font-size: 0;
    
    

}
.btn:hover{

    width: 150px;
    height: 85px;
}





main{

    display: flex;
    margin: 0 auto;
    text-align: center;
    
    
}

#Pierre{

    background: url(/projet_2/img/pierre.png)  ;
    background-size: 350px 180px;
    
    
}
#Pierre:hover{

    background: bisque;
    background-size: 400px 220px;
    font-size: 300%;
    line-height: 75px;
    padding-left: 25px;
    cursor: url(/projet_2/img/b7c8b940906979a6260acbeb45f0baeb.png),auto;
    
}



#Feuille{

    background: url(/projet_2/img/Feuille1.png);
    background-size:350px 180px;
}
#Feuille:hover{

    background: bisque;
    background-size: 400px 220px;
    font-size: 300%;
    line-height: 75px;
    padding-left: 20px;
    cursor: url(/projet_2/img/téléchargement.png),auto;
    

    
}





#Ciseaux{

    background:url(/projet_2/img/Ciseaux1.png) ;
    background-size:350px 180px;
}
#Ciseaux:hover{

    background: bisque;
    background-size: 400px 220px;
    font-size: 300%;
    line-height: 75px;
    padding-left: 9px;
    cursor: url(/projet_2/img/ciseaux.png),auto;
   

    
}








