<nav class="navbar navbar-expand-lg    ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto ">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Accueil</a>
        </li>

        {{#if UsAdMod}}


        <li class="nav-item">
          <a class="nav-link" href="/formulaire">Création de recettes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gestionRecettes">Gestion des recettes</a>
        </li>
        {{/if}}
        {{#if Admin}}
        <li class="nav-item">
          <a class="nav-link" href="/gestion">gestion</a>
        </li>
        {{/if}}



        {{#if UsAdMod}}
        <p class="m-auto">bonjour {{name}} et bienvenu </p>
        {{/if}}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            {{#if UsAdMod}}
            <li class="text-center"> {{role}}</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="text-center">
              <form method="POST" enctype="application/x-www-form-urlencoded" action="/deleteCookie/?_method=delete">
                <button id="disconnect" class="btn d-inline-flex "
                  onclick='return confirm("Êtes-vous sûr de vouloir vous déconnecter?")'>
                  <p class="material-icons">power_settings_new</p>déconnecter
                </button>
              </form>
            </li>

            {{else}}

            <li><a class="dropdown-item" href="/connexion">Connexion</a></li>
            <li><a class="dropdown-item" href="/inscription">Inscription</a></li>

            {{/if}}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>