@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /* pour enlever la marge de la page  */
    margin: 0px;
    padding: 0px;
    
}

.global{
     
    width: 1920px;
    height: 1080px;
    
}

.gauche{
    background: white;
    width: 766px;
    height: 1080px;
}

.gauche img{

    width: 100%;
    height: 100%;
}

.milieu {

    background:  #FFD600;
    position: absolute;
    width: 388px;
    height: 1080px;
    left: 766px;
    top: 0px;
    
}
.milieu:hover{
    background-color: #000000;
    cursor: pointer;
}
.meat:hover{

    color: #FFD600 ;
}
.fish:hover{

    color:#FFD600;
}

.logo{

text-align: center;



}
.meat {
    width: 50px;
    height: 300px;
    word-wrap: break-word;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    letter-spacing : 30px;
    color: #000000;
    text-align: center;
    display: inline-block;
    padding: 140px 60px;

}




.fish {
    width: 50px;
    height: 300px;
    word-wrap: break-word;    
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    letter-spacing : 40px;
    color: #000000;
    padding: 20px;
    display: inline-block;
    text-align: unset;
    

}

.droite {
    
    background: rgb(223, 223, 246);
    position: absolute;
    width: 766px;
    height: 1080px;
    left: 1154px;
    top: 0px;


}


.droite_a_propos{

    background-color: #000000;
    color: #fefefe;
    position: absolute;
    width: 766px;
    height: 1080px;
    left: 1154px;
    top: 0px;
 



}

h1{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 64px;
    line-height: 76px;
    margin: 150px 100px 0 100px ;
    
}
.tiret{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 64px;
    letter-spacing: -5px;
    
}

h2{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    line-height: 29px;

}

.virgules{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    text-align: center;
    font-size: 80px;
    line-height: 29px;
    margin: 100px 0 0 0px;
    transform: rotate(180deg)
}

.paragraphe{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    margin: 100px 0 0 0;
    padding: 5px;
    letter-spacing: 1px;

}

.btn{

    
    margin: 150px 0 0 230px;
    background: #000000;
    width: 302px;
    height: 87px;
    left: 1386px;
    top: 935px;
    border: 3px solid #FFFFFF;
    border-radius: 244px;
}

.btn:hover{

    margin: 150px 0 0 230px;
    background: #000000;
    width: 302px;
    height: 87px;
    left: 1386px;
    top: 935px;
    border: 3px solid #FFD600;
    border-radius: 244px;
    cursor: pointer;
}

.contact{
    
    background-color: #000000;
    color: #fefefd;
    font-family: 'Roboto';
    font-weight: 200;
    margin: 20px 100px;
    font-size: 30px;   
   
}

.contact:hover{

    color: #FFD600;
    cursor: pointer;
}

.signature{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    margin: 30px;

}