

.c2 {
    text-align: center;
    font-weight: 900;
    font-size: 8em;
    font-family:"Crete Round" ;
    letter-spacing: 0.1em;
    color: rgb(9, 86, 231);

  }
  
  .c2 .word {
    display: inline-block;
    line-height: 1.2em;
  }



  