<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/images/logo.png" alt="Sabotage logo">
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="dashboard"><i class="pi pi-home"></i>Dashboard</a>
            </li>
            <li>
                <a routerLink="produits"><i class="pi pi-briefcase"></i>Produits</a>
            </li>
            <li>
                <a routerLink="categories"><i class="pi pi-list"></i>Catégories</a>
            </li>
            <li>
                <a routerLink="commandes"><i class="pi pi-shopping-cart"></i>Commandes</a>
            </li>
            <li>
                <a routerLink="utilisateurs"><i class="pi pi-users"></i>Utilisateurs</a>
            </li>
            <li>
                <a class="logout"><i class="pi pi-sign-out"></i>Se déconnecter</a>
            </li>
        </ul>
    </div>
</div>


