.admin-wrapper{

    height: 100%;
    padding: 0;
    margin: 0

}

.admin-sidebar{
    position: fixed;
    width: 175px;
    background-color: rgb(46, 134, 249);
    height: 100%
}

.admin-main{
    width:100%;
    margin-left: 175px; 
}

.logo{
    padding: 20px;
    width: 100%
}

img{
max-width: 100%;
}

.links{
   color: #fff
} 

ul{
        margin: 0;
        padding: 0;
    }

    li{
        display: block;
        list-style: none;
        width: 100%;
    }

a{
    padding: 10px 15px;
    display: block;
    width: 100%;
    color: #fff
}

a:hover{
    background-color: rgb(102, 102, 240);
}

i{
    margin-right: 5px;
    margin-top: 0;
    float: left
}

.logout{
    color: rgba(125, 196, 255, 0.982);
    text-decoration: none
}

.logout:hover{
    color: white;
}