<div class="container mt-3" style="height: 85vh;">
    <div class="row">
        <div class="col-6 ">
            <form action="/category-create" method="post">
                <!-- name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="categorie" class="form-control" name='categorie'/>
                    <label class="form-label" for="categorie">Nom de la categorie</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
            </form>
        </div>
    </div>
</div>