*{
    margin: 0;
    padding: 0;
}
.navbar{
    background: linear-gradient(120deg,  #00aaff, #438bcb);
    
}
.container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,16rem);
    justify-content: space-between;
  
}
.card{
   max-width: 18rem;
   max-height: 80vh;
   text-align: center;
   padding: 0;
   border: none;
   margin: 1.5rem;
}
.card-img-top{
    
    max-height: 50%;

}

#cardCentre{

    margin-left: 50px;
    margin-right: 50px;
}

.card-footer{
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
}

.card:hover{
    transform: scale(1.1);
    
    transition-duration:0.6s ;
}
body{
    width: 100%;
    min-height: 97vh;
    background: linear-gradient(#aba6a6, #e8e9ea, #af9c9c);
}
h2,h1{
    text-align: center;
    width: 100%;
    /* padding-top: 40px; */
}
.sticky-footer{
    position: sticky;
    top: 100%;
}

footer{
    
    background: linear-gradient(120deg,  #00aaff, #438bcb);
    
}
.description{
    display: flex;
    width: 80%;
    /* height: 90vh; */
    text-align: center;
    margin: auto;
}
.description img{
    width: 50%;
}
#imgRecette{
    border-radius: 50px;
    width: 20%;
}

.formulaireCommentaire{
    width: 100%;
}









span{
    width: 50vw;
    height: 50vh;
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(249, 4, 4);
    font-size: 1.5rem;
    color: rgb(255, 234, 0);
    border-radius: 15px;
  }

  .cookies {
  width: 350px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.cookies a {
  text-decoration: none;
  color: #000;
  margin-top: 8px;
}

.cookies a:hover {
  text-decoration: none;
  color: blue;
  margin-top: 8px;
}

  