

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');


*{
  margin: 0;
  padding: 0;

}

header{
    width: 1920px;
    height: 1075px;
    background-image: url(/home.jpg) ;
    background-size: 1920px;
    
    
}
img{
    position: absolute;
    width: 184px;
    height: 168px;
    left: 233px;
    top: 177px;

}
h1{
    position: absolute;
    width: 595px;
    height: 184px;
    left: 233px;
    top: 519px;
    
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.1em;

}

.welcome{
    position: absolute;
    width: 865px;
    height: 165px;
    left: 233px;
    top: 703px;
    
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 43px;
    
    color: #000000;
          

}

main{
    background-color: #EFEFEF;
    width: 1920px;
    height: 443px;


}

h2{
    position: absolute;
width: 680px;
height: 40px;
left: 233px;
top: 1200px;

font-family: 'Fira Sans';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;

}

.main{
    position: absolute;
    width: 1539px;
    height: 114px;
    left: 233px;
    top: 1240px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

footer{
    position: absolute;
    width: 1920px;
    height: 482px;
    left: 0px;
    top: 1518px;
    
    background: #F87575;

}

h3{
    position: absolute;
    width: 680px;
    height: 26px;
    left: 233px;
    top: 158px;


    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

color: #000000;
}

.footer{

    position: absolute;
    width: 1539px;
    height: 124px;
    left: 233px;
    top: 197px;

    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;

    color: #000000;

}